<p-toast></p-toast>
<div class="card" *ngIf="datosHistorial() as c">
    <div class="flex justify-between items-center mb-4 gap-4">
        <div class="flex items-center gap-4 flex-1 min-w-0">
                <button pButton
                    type="button"
                    icon="pi pi-arrow-left"
                    routerLink="/pages/gestion/casos"
                    class="p-button-secondary p-button-outlined flex-shrink-0">
                </button>
                <div class="min-w-0">
                    <h2 class="m-0 text-2xl font-semibold" >{{ c.nombre_caso }}
                        <p-tag [value]="findEstadoModificacionNombre(c.id_estado_modificacion)" 
                            [severity]="getSeverityForModificacion(findEstadoModificacionNombre(c.id_estado_modificacion))">
                        </p-tag>

                    </h2>
                    <p class="text-muted-color m-0 " >{{ c.descripcion_caso }}</p>
                    <div class="mt-1" *ngIf="c.fuentes && c.fuentes.length > 0">
                        <p class="text-muted-color m-0">Fuentes:</p>
                        <div class="flex flex-wrap gap-1 mt-1">
                            <p-tag *ngFor="let fuente of c.fuentes" [value]="fuente.nombre_fuente"></p-tag>
                        </div>
                    </div>
                </div>
        </div>
        <button pButton 
                label="Ejecutar Nueva Prueba" 
                icon="pi pi-play" 
                [routerLink]="['/pages/ejecucion', c.id_caso]"
                class="flex-shrink-0">
        </button>
    </div>

    <hr class="my-4">

    <h3 class="mb-4">Historial de Ejecuciones</h3>
    <p-timeline [value]="c.historial" align="alternate" styleClass="customized-timeline">
        <!-- Aqui parte la linea del medio del timeline (con sus iconos) -->
        <ng-template pTemplate="marker" let-evento>
            <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm"
                  [ngClass]="{
                            'bg-green-500': findEstadoEvidenciaNombre(evento.id_estado_evidencia) === 'OK',
                            'bg-red-500': findEstadoEvidenciaNombre(evento.id_estado_evidencia) === 'NK',
                            'bg-gray-500': findEstadoEvidenciaNombre(evento.id_estado_evidencia) === 'N/A'
                  }">
                <i class="pi" [ngClass]="{
                    'pi-check': findEstadoEvidenciaNombre(evento.id_estado_evidencia) === 'OK',
                    'pi-times': findEstadoEvidenciaNombre(evento.id_estado_evidencia) === 'NK',
                    'pi-stop': findEstadoEvidenciaNombre(evento.id_estado_evidencia) === 'N/A'
                }"></i>
            </span>
        </ng-template>
        
        <!-- Aqui parte el contenido del timeline -->
        <ng-template pTemplate="content" let-evento>

            
           <p-card [ngClass]="{ 'timeline-card-left': evento.posicion === 'left' }">

                <ng-template pTemplate="title">
                <div class="flex items-center gap-2" [ngClass]="{ 'justify-end': evento.posicion === 'left' }">
                    
                    <button pButton type="button" icon="pi pi-send"
                            class="p-button-rounded p-button-text p-button-secondary"
                            (click)="abrirDialogoMover(evento)"
                            pTooltip="Mover evidencia a otro caso" tooltipPosition="top">
                    </button>

                    <!-- <div class="flex-grow"></div> -->

                    <p-tag [value]="findEstadoEvidenciaNombre(evento.id_estado_evidencia)" [severity]="getSeverityForEstado(findEstadoEvidenciaNombre(evento.id_estado_evidencia))"></p-tag>
                    <p-tag *ngIf="evento.id_criticidad" [value]="findCriticidadNombre(evento.id_criticidad)" 
                           [severity]="getSeverityForCriticidad(findCriticidadNombre(evento.id_criticidad))"  styleClass="font-bold"></p-tag>
                </div>
                </ng-template>

                <ng-template pTemplate="subtitle">
                <div [ngClass]="{ 'text-right': evento.posicion === 'left' }">
                    <div class="text-sm">
                        <i class="pi pi-calendar"></i> Ejecutado el {{ evento.fecha_evidencia | date:'dd/MM/yyyy h:mm a' }}
                    </div>
                    <div class="text-sm font-semibold mt-1">
                        <i class="pi pi-user"></i> Certificador: {{ evento.nombreUsuarioEjecutante }}
                        <span *ngIf="evento.version_ejecucion"> | <i class="pi pi-book"></i> Versión de ejecución: {{ evento.version_ejecucion }}</span>
                        
                    </div>
                    <div class="text-sm font-semibold mt-1">
                       
                        <span *ngIf="evento.rut" class="font-normal"> <i class="pi pi-id-card"></i> RUT: <strong>{{ evento.rut }}</strong></span>
                    </div>

                    
                        
                </div>
                </ng-template>

                <div [ngClass]="{ 'text-right': evento.posicion === 'left' }">
                    <p>{{ evento.descripcion_evidencia }}</p>
                    
                    <div class="mt-4 flex flex-col gap-2" 
                        [ngClass]="{ 'items-end': evento.posicion === 'left' }" 
                        *ngIf="(evento.archivos && evento.archivos.length > 0) || evento.id_jira">
                        
                        <div *ngIf="evento.archivos && evento.archivos.length > 0" class="font-semibold text-sm mb-1"></div>
                        <a *ngFor="let archivo of evento.archivos" 
                            [href]="'http://localhost:8090' + archivo.url_archivo" target="_blank" 
                            class="text-primary hover:underline text-sm flex items-center gap-2"
                            [ngClass]="{ 'flex-row-reverse': evento.posicion === 'left' }">
                                <i class="pi pi-paperclip"></i>
                                <span>{{ archivo.nombre_archivo }}</span>
                            </a>
                        <a *ngIf="evento.id_jira" href="#" class="text-primary hover:underline">
                        <i class="pi pi-ticket mr-2"></i>Ver Incidencia en Jira: {{ evento.id_jira }}
                        
                        </a>
                        
                    </div>
                </div>
                
            </p-card>

            
        </ng-template>

    </p-timeline>
    <div *ngIf="c.historial.length === 0" class="text-center p-4">
        Este caso de prueba aún no tiene ejecuciones registradas.
    </div>
</div>

<p-dialog [(visible)]="moverDialog" 
          [style]="{width: '600px', height: '550px'}" 
          header="Mover evidencia a otro caso existente" 
          [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="flex flex-col gap-4">
            
            <div class="field">
                <label for="hitoDestino" class="block font-bold mb-2">Seleccione el Hito</label>
                <p-select id="hitoDestino"
                          [options]="hitos()"
                          [(ngModel)]="hitoSeleccionadoId"
                          (onChange)="onHitoChange()"
                          optionLabel="nombre"
                          optionValue="id"
                          placeholder="Seleccionar Hito"
                          styleClass="w-full">
                </p-select>
            </div>

            <div class="field">
                <label for="componenteDestino" class="block font-bold mb-2">Seleccione el Componente</label>
                <p-select id="componenteDestino"
                          [options]="componentesFiltrados()"
                          [(ngModel)]="componenteSeleccionadoId"
                          (onChange)="onComponenteChange()"
                          optionLabel="nombre_componente"
                          optionValue="id_componente"
                          placeholder="Seleccionar Componente"
                          [disabled]="!hitoSeleccionadoId"
                          styleClass="w-full">
                </p-select>
            </div>

            <div class="field">
                <label for="casoDestino" class="block font-bold mb-2">Seleccione el Caso de Prueba de Destino</label>
                <p-select id="casoDestino"
                          [options]="casos()"
                          [(ngModel)]="casoDestinoId"
                          optionLabel="nombre_caso"
                          optionValue="id_caso"
                          placeholder="Seleccionar Caso"
                          [disabled]="!componenteSeleccionadoId"
                          styleClass="w-full">
                </p-select>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cerrarDialogoMover()"></button>
        <button pButton pRipple label="Mover Evidencia" icon="pi pi-check" 
                [disabled]="!casoDestinoId"
                (click)="confirmarMovimiento()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>