<p-toast></p-toast>
<div class="card" *ngIf="datosHistorial() as c">
    <div class="flex justify-between items-center mb-4 gap-4">
        <div class="flex items-center gap-4 flex-1 min-w-0">
                <button pButton
                    type="button"
                    icon="pi pi-arrow-left"
                    routerLink="/pages/gestion/casos"
                    class="p-button-secondary p-button-outlined flex-shrink-0">
                </button>
                <div class="min-w-0">
                    <h2 class="m-0 text-2xl font-semibold" >{{ c.nombre_caso }}
                        <p-tag [value]="findEstadoModificacionNombre(c.id_estado_modificacion)" 
                            [severity]="getSeverityForModificacion(findEstadoModificacionNombre(c.id_estado_modificacion))">
                        </p-tag>

                    </h2>
                    <p class="text-muted-color m-0 " >{{ c.descripcion_caso }}</p>
                    <p *ngIf="mostrarCampoFormulario()" class="text-muted-color m-0 mt-1">Formulario: <strong>{{ c.num_formulario }}</strong></p>
                </div>
        </div>
        <button pButton 
                label="Ejecutar Nueva Prueba" 
                icon="pi pi-play" 
                [routerLink]="['/pages/ejecucion', c.id_caso]"
                class="flex-shrink-0">
        </button>
    </div>

    <hr class="my-4">

    <h3 class="mb-4">Historial de Ejecuciones</h3>
    <p-timeline [value]="c.historial" align="alternate" styleClass="customized-timeline">
        <!-- Aqui parte la linea del medio del timeline (con sus iconos) -->
        <ng-template pTemplate="marker" let-evento>
            <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm"
                  [ngClass]="{
                      'bg-green-500': evento.estado_evidencia === 'OK',
                      'bg-red-500': evento.estado_evidencia === 'NK',
                      'bg-gray-500': evento.estado_evidencia === 'N/A'
                  }">
                <i [ngClass]="{
                    'pi pi-check': evento.estado_evidencia === 'OK',
                    'pi pi-times': evento.estado_evidencia === 'NK',
                    'pi pi-stop': evento.estado_evidencia === 'N/A'
                }"></i>
            </span>
        </ng-template>
        
        <!-- Aqui parte el contenido del timeline -->
        <ng-template pTemplate="content" let-evento>

            
           <p-card [ngClass]="{ 'timeline-card-left': evento.posicion === 'left' }">

                <ng-template pTemplate="title">
                <div class="flex items-center gap-2" [ngClass]="{ 'justify-end': evento.posicion === 'left' }">
                    <p-tag [value]="evento.estado_evidencia" [severity]="getSeverityForEstado(evento.estado_evidencia)"></p-tag>
                    <p-tag *ngIf="evento.criticidad" [value]="evento.criticidad" [severity]="getSeverityForCriticidad(evento.criticidad)" styleClass="font-bold"></p-tag>
                </div>
                </ng-template>

                <ng-template pTemplate="subtitle">
                <div [ngClass]="{ 'text-right': evento.posicion === 'left' }">
                    <div class="text-sm">Ejecutado el {{ evento.fecha_evidencia | date:'dd/MM/yyyy h:mm a' }}</div>
                    <div class="text-sm font-semibold mt-1">Certificador: {{ evento.nombreUsuarioEjecutante }}
                        <span *ngIf="evento.version_ejecucion"> | Versión de ejecución: {{ evento.version_ejecucion }}</span>
                    </div>
                        
                </div>
                </ng-template>

                <div [ngClass]="{ 'text-right': evento.posicion === 'left' }">
                <p>{{ evento.descripcion_evidencia }}</p>
                
                <div class="mt-4 flex flex-col gap-2" 
                    [ngClass]="{ 'items-end': evento.posicion === 'left' }" 
                    *ngIf="evento.url_evidencia || evento.id_jira">
                    
                    <a *ngIf="evento.url_evidencia" href="#" class="text-primary hover:underline">
                    <i class="pi pi-paperclip mr-2"></i>Ver Evidencia Adjunta
                    </a>
                    <a *ngIf="evento.id_jira" href="#" class="text-primary hover:underline">
                    <i class="pi pi-ticket mr-2"></i>Ver Incidencia en Jira: {{ evento.id_jira }}
                    </a>
                </div>
                </div>
                
            </p-card>

            
        </ng-template>

    </p-timeline>
    <div *ngIf="c.historial.length === 0" class="text-center p-4">
        Este caso de prueba aún no tiene ejecuciones registradas.
    </div>
</div>