/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


// Oculta los números de prioridad del ordenamiento múltiple en las tablas de PrimeNG
.p-sortable-column-badge {
    display: none !important;
}

// Se define un ancho máximo para el tooltip personalizado
.custom-tooltip-wide .p-tooltip-text {
  width: max-content;
  min-width: 300px; /* Opcional: un ancho mínimo para que no sea muy angosto */
  max-width: 600px; /* Opcional: un ancho máximo para que no sea excesivo */
}

// .p-tooltip-text {
//   width: max-content;
// }

// Estilos para alinear a la derecha el contenido de las tarjetas izquierdas en el timeline
// .timeline-card-left {
//     .p-card-title {
//         justify-content: flex-end;
//     }

//     .p-card-subtitle {
//         text-align: right;
//     }
// }
