/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


// Oculta los números de prioridad del ordenamiento múltiple en las tablas de PrimeNG
.p-sortable-column-badge {
    display: none !important;
}

// Se define un ancho máximo para el tooltip personalizado
.custom-tooltip-wide .p-tooltip-text {
  width: max-content;
  min-width: 300px; /* Opcional: un ancho mínimo para que no sea muy angosto */
  max-width: 600px; /* Opcional: un ancho máximo para que no sea excesivo */
}


/* Estilos para mejorar la visualización de las tarjetas del historial */
.p-timeline .p-card {
    border: 1.5px solid var(--surface-border);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.05);
}

/* Estilos específicos para cuando el tema oscuro está activo */
.app-dark .p-timeline .p-card {
    /* Se usa una sombra gris y sutil para que se note en fondos oscuros */
    box-shadow: 7px 7px 6px rgba(255, 255, 255, 0.212);
}

.p-autocomplete.w-full .p-autocomplete-input {
  width: 100%;
}

/* Estilo personalizado para el botón N/A seleccionado, para que se note */
.btn-na-selected.p-button-secondary {
  background-color: var(--surface-300) !important;
  color: var(--surface-800) !important;
  border-color: var(--surface-400) !important;
  //border-radius: 55%;
  //border-bottom: 10px;
  //border-style:groove;
}

/* Estilo para el modo oscuro */
.app-dark .btn-na-selected.p-button-secondary {
    background-color: var(--surface-700) !important;
    color: var(--surface-0) !important;
    border-color: var(--surface-700) !important;
}
