/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


// Oculta los números de prioridad del ordenamiento múltiple en las tablas de PrimeNG
.p-sortable-column-badge {
    display: none !important;
}

// Se define un ancho máximo para el tooltip personalizado
.custom-tooltip-wide .p-tooltip-text {
  width: max-content;
  min-width: 300px; /* Opcional: un ancho mínimo para que no sea muy angosto */
  max-width: 600px; /* Opcional: un ancho máximo para que no sea excesivo */
}


/* Estilos para mejorar la visualización de las tarjetas del historial */
.p-timeline .p-card {
    border: 1.5px solid var(--surface-border);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.05);
}

/* Estilos específicos para cuando el tema oscuro está activo */
.app-dark .p-timeline .p-card {
    /* Se usa una sombra gris y sutil para que se note en fondos oscuros */
    box-shadow: 7px 7px 6px rgba(255, 255, 255, 0.212);
}

.p-autocomplete.w-full .p-autocomplete-input {
  width: 100%;
}

/* Estilo personalizado para el botón N/A seleccionado, para que se note */
.btn-na-selected.p-button-secondary {
  background-color: var(--surface-300) !important;
  color: var(--surface-800) !important;
  border-color: var(--surface-400) !important;
  //border-radius: 55%;
  //border-bottom: 10px;
  //border-style:groove;
}

/* Estilo para el modo oscuro */
.app-dark .btn-na-selected.p-button-secondary {
    background-color: var(--surface-700) !important;
    color: var(--surface-0) !important;
    border-color: var(--surface-700) !important;
}


/* * Variables de color personalizadas para los gráficos del dashboard.
 * Esto nos independiza de los nombres de color específicos del tema de PrimeNG
 * y nos da control total sobre la apariencia en modo claro y oscuro.
 */
:root {
  --color-ok: #22c55e;
  --color-fallo: #ef4444;
  --color-na: #6b7280;

  /* Colores atenuados para el efecto hover */
  --color-ok-hover: #79d199;
  --color-fallo-hover: #e67979;
  --color-na-hover: #5f6369;
}

.app-dark {
  /* Versiones ligeramente más brillantes para el modo oscuro */
  --color-ok: #4ade80;
  --color-fallo: #f87171;
  --color-na: #9ca3af;

  /* Colores atenuados para el hover en modo oscuro */
  --color-ok-hover: #79d199;
  --color-fallo-hover: #e67979;
  --color-na-hover: #5f6369;
}

